th,td {
    text-align: center;
    padding: 12px;
}

th{
    background-color: rgb(110, 253, 250);
}

table{
    border-collapse: collapse; 
    border: black 3px solid;
}

.span7{
    writing-mode: vertical-rl;
    text-orientation: upright;
}